@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
}

/* 
calculations for media
    n = 1...
    base = font-size * 2
    width = (base)px * n * 10
    min-width = (base)px * n * 10 + (base)px
    max-width = (base)px * (n + 1) * 10 + (base-1)px
*/

@media screen and (max-width: calc(240px * 2 + 23px)) {
  #trix {
    width: calc(240px * 1);
  }
}
@media screen and (min-width: calc(240px * 2 + 24px)) and (max-width: calc(240px * 3 + 23px)) {
  #trix {
    width: calc(240px * 2);
  }
}
@media screen and (min-width: calc(240px * 3 + 24px)) and (max-width: calc(240px * 4 + 23px)) {
  #trix {
    width: calc(240px * 3);
  }
}
@media screen and (min-width: calc(240px * 4 + 24px)) and (max-width: calc(240px * 5 + 23px)) {
  #trix {
    width: calc(240px * 4);
  }
}
@media screen and (min-width: calc(240px * 5 + 24px)) and (max-width: calc(240px * 6 + 23px)) {
  #trix {
    width: calc(240px * 5);
  }
}
@media screen and (min-width: calc(240px * 6 + 24px)) and (max-width: calc(240px * 7 + 23px)) {
  #trix {
    width: calc(240px * 6);
  }
}
@media screen and (min-width: calc(240px * 7 + 24px)) and (max-width: calc(240px * 8 + 23px)) {
  #trix {
    width: calc(240px * 7);
  }
}
@media screen and (min-width: calc(240px * 8 + 24px)) {
  #trix {
    width: calc(240px * 8);
  }
}
